{% extends 'base.html.twig' %}
{% block title %}Ingrédient{% endblock %}
{% block body %}
    <h1>Ingredient creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ingredient_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
