
html{
    background-color: #201413;
    height: 100%;
}
body{
    background-image: url("/web/image/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #191919;
    font-size: 16px;
    width: 70%;
    height: 100%;
    margin-left: 15%;



}
header{
    background-image:url("/web/image/IKouq_logo.png");
    background-size: cover;

}
.ikouq{
    border: 2px solid #ff9802;
    width: 35%;
    max-width: 230px;
    max-height: 130px;
    height: 10%;
    border-radius: 15px;
    display: flex;
    margin-left: 2%;

}
.logo{
    width: 150px;height: 100px;
}
.marque p {
    font-size: 2.25em;

    max-font-size: 36px;
    padding-right: 5px;
}
h1{
    text-align: center;
}
form,  h1, .part, .instruction, .colonne_droite, .topbar {

    padding: 30px;
    border: 2px solid #ff9802;
    border-radius: 15px;
    background: rgba(255, 250, 255, 0.6);
    box-shadow: 0 0 20px 0 rgba(159, 86, 2, 0.66), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 5%;
}
.container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
tr{


    border: 2px solid #ff9802;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(159, 86, 2, 0.66), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;

}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
input[type=submit] {
    background-color: #FF9802;
    color: #191919;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: rgba(255, 152, 2, 0.62);
    color: #191919;
    border: 2px solid #ff881a;
}
a{
    box-shadow: 0 0 20px 0 rgba(159, 86, 2, 0.66), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-decoration: none;
    color: #191919;
}
