.container{
    display: flex;
}
.photo{
}
.info{
    text-align: center;
}
.topbar{
    height: 20px;
}
.platRegime{
    display: flex;
}
li{
    list-style: none;
}
.part{}
.hero{
    display: flex;
}
.instruction{}
.colonne_droite{}
