{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>
                 <img src="{{ asset('IKouq_logo.png') }}">   </h1>
            </div>



            <div id="next">




                    <a href="https://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/page_creation.html">
                        <h2>Entrer</h2>
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    h2, a, a :hover {color:#ff9802; text-align: center; text-decoration: none; border: 1px solid #ff9802;border-radius: 15px; box-shadow: 0 0 20px 0 rgba(159, 86, 2, 0.66), 0 5px 5px 0 rgba(0, 0, 0, 0.24)}



</style>
{% endblock %}
